body {
  /* background-image: linear-gradient(to bottom right, white, rgb(63, 63, 63)); */
  background-color: #f6c735;
}

.image-carousel {
  background-color: black;
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

@media (max-width: 640px) {
  .image-carousel {
    height: 400px;
  }
}

@media (min-width: 2000px) {
  .image-carousel {
    height: 850px; /* Larger height for 1440p and up */
  }
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 32s infinite;
}

/* Delay each image by 4s * index */
.carousel-image:nth-child(1) {
  animation-delay: 0s;
}
.carousel-image:nth-child(2) {
  animation-delay: 4s;
}
.carousel-image:nth-child(3) {
  animation-delay: 8s;
}
.carousel-image:nth-child(4) {
  animation-delay: 12s;
}
.carousel-image:nth-child(5) {
  animation-delay: 16s;
}
.carousel-image:nth-child(6) {
  animation-delay: 20s;
}
.carousel-image:nth-child(7) {
  animation-delay: 24s;
}
.carousel-image:nth-child(8) {
  animation-delay: 28s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Newsletter popup */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.modal-content input {
  padding: 0.5rem;
  width: 80%;
  margin-bottom: 1rem;
}

.modal-content button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}
